[submodule "Adafruit_NeoPixel"]
	path = Adafruit_NeoPixel
	url = https://github.com/adafruit/Adafruit_NeoPixel.git
[submodule "arduino_midi_library"]
	path = arduino_midi_library
	url = https://github.com/FortySevenEffects/arduino_midi_library.git
[submodule "Homados"]
	path = Homados
	url = https://github.com/nathanshaw/Homados.git
